.login {
  padding-top: 15vh;
  background: #f9fafb !important;
  /*height: 100vh;*/
}

.registration {
  padding-top: 1vh;
  background: #f9fafb !important;
  /*height: 100vh;*/
}

.loginLanguageSelector {
  text-align: right;
}

.login .header {
  font-size: 21px;
  font-weight: 700;
  line-height: 1.3;
  letter-spacing: 0.3px;
  margin-bottom: 20px !important;
  margin-top: -10px !important;
}
.loginForm {
  padding-top: 20px;
}

.m-tb-20 {
  margin: 20px 0;
}

.footer {
  display: flex;
  justify-content: space-between;
}

.languageSelect {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  padding: 3px;
  font-family: "Lato";
  font-size: 1em;
  background-color: white; 
}